$color-grey-dark: #777;
$color-white: #fff;
$color-primary: #7ed56f;
$color-primary-light: #bdf3fa;
$color-primary-dark: #107bf5;
$color-black: #000;

// /*
// COLORS:
// Light green: #7ed56f
// Medium green: #55c57a
// #bdf3fa light blue- we use
// #107bf5 dark blue - we use
// Dark green: #28b485
// */
