*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* border box: */
/* universal selector */

html {
  // this define whats 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
/* changing PX to REM, 1 rem = 10 px( rem uses the root font size)  divede  the desire percentage by 16 */
